<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>totalName</key>
		<string>masonryLayout</string>
		<key>array</key>
		<array>
			<dict>
				<key>titleName</key>
				<string>baseLayout</string>
				<key>className</key>
				<string>ViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>update</string>
				<key>className</key>
				<string>updataViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>remake</string>
				<key>className</key>
				<string>remakeViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>constant</string>
				<key>className</key>
				<string>constantViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>margin</string>
				<key>className</key>
				<string>marginViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>array</string>
				<key>className</key>
				<string>arrayViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>scroll</string>
				<key>className</key>
				<string>scrollViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>hide</string>
				<key>className</key>
				<string>hideViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>emitter</string>
				<key>className</key>
				<string>emitterViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>Test</string>
				<key>className</key>
				<string>TestViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>MVVM</string>
				<key>className</key>
				<string>MvvmTestViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>totalName</key>
		<string>AVMedia</string>
		<key>array</key>
		<array>
			<dict>
				<key>titleName</key>
				<string>MPMoviePlayerController</string>
				<key>className</key>
				<string>mainViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>AVPlayer</string>
				<key>className</key>
				<string>customAVPlayerViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>AVCaptureSession</string>
				<key>className</key>
				<string>customCamraViewController</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>VideoDecode</string>
				<key>className</key>
				<string>VideoDecodeViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
